/*One*/

.testOne {
  color: $var1;
}
/*One*/

.testOne {
  color: $var1;
}
/*One*/

.testOne {
  color: $var1;
}
/*One*/

.testOne {
  color: $var1;
}

/*Three*/

.testThree {
  color: $var3;
}

/*Two*/

.testTwo {
  color: $var2;
}

/*Three*/

.testThree {
  color: $var3;
}

/*Two*/

.testTwo {
  color: $var2;
}

/*Three*/

.testThree {
  color: $var3;
}

/*Two*/

.testTwo {
  color: $var2;
}

/*Three*/

.testThree {
  color: $var3;
}

/*Two*/

.testTwo {
  color: $var2;
}
